/* Background Start */
:root {
  --color-darkblue: rgba(0, 120, 207, 0.6);
  --color-midblue: rgba(0, 88, 220, 0.6);
  --color-lightblue: rgba(0, 166, 255, 0.557);
}

.backgroundhats {
	background: linear-gradient(
    45deg,
    var(--color-darkblue),
    var(--color-midblue),
    var(--color-lightblue) );
    animation: gradient 7s ease infinite;
    background-position: center;
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* Background End */

/* Table Create Hat Start */
#table {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#deletebutton {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
/* Table Create Hat End */

/* Table Hats List Start */

.thead {
  background: rgba(0, 0, 0, 0.3);
}

.table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.3);
}


/* Table Hats List End */
