@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body,
input,
button,
select {
    font-family: 'Varela Round', sans-serif;
}

.table {
    border: 3px solid #9530D9;
}

.table th {
    color: #60035A;
    background-color: #E8D8F2;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.table td {
    font-size: 22px;
    padding: 5px;
    font-weight: bold;
}

.table tr {
    border: 5px solid #9530D9;

}

.table tr:nth-child(odd) {
    background-color: #CAB4D9;
}

.table tr:nth-child(even) {
    background-color: #EEE4F2;
}


button {
    background-color: #FFDAD8;
    border: 3px solid #C0777D;
    border-radius: 10px;
    box-sizing: border-box;
    color: darkblue;
    display: inline-block;
    padding: 0.25em 0.9em;
    margin: 0 0.4em 0.4em 0;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    background-color: #8C3A76;
}
