body {
    background: #EEE4F2;
}

h1 {
    color: #BF757B;
}

div {
    color: #551A8B;
}

button {
    background-color: #FFDAD8;
    border: 3px solid #C0777D;
    border-radius: 10px;
    box-sizing: border-box;
    color: darkblue;
    display: inline-block;
    padding: 0.25em 0.9em;
    margin: 0 0.4em 0.4em 0;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    background-color: #8C3A76;
}
